$colors: (
  'blue-1': #507daf,
  'red':#f00,
  'red-1': #df3436,
  'red-2': #C20C0C,
  'black': #000,
  'black-1': #333,
  'grey-1': #888,
  'grey': #999,
  'white-1': #ebecec,
  'white': #fff,
);


$font-sizes: (
  xxs: 12,
  xs: 14,
  sm: 16,
  md: 18,
  lg: 20,
  xl: 22,
  xxl: 24
);

// flex
.d-flex {
  display: flex;
}

.d-column {
  flex-direction: column;
}
.d-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

$flex-jc: (
  'start': flex-start,
  'end': flex-end,
  'center': center,
  'between': space-between,
  'around': space-around
);
$flex-ai: (
  'start': flex-start,
  'end': flex-end,
  'center': center,
  'stretch': stretch,
  'baseline': baseline
);

// space

$spacing-type: (
  'm': "margin",
  'p': "padding"
);
$spacing-direction: (
  'l': left,
  'r': right,
  't': top,
  'b': bottom
);
$spacing-basic-size: 1rem;
$spacing-size: (
  0: 5,
  1: 10,
  2: 15,
  3: 25,
  4: 30,
  5: 35,
  6: 40
);

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

// weight
.font-w {
  font-weight: bold;
}

// 省略text
.text-h {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
